//*** styling for ad roate
.et_pb_module.et_pb_code.amjam-ads-across {
    .g {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        align-items: center;
    }

}

// embbedded ads
/* .single-post article .g {
    max-width: 60%;
    background-color: $amjambo-orange;// #f2ad4152;
    margin-right: -12%;
} */