/* basic css stuff */
/* .reach-responsive-video {
	position: relative;
	padding-bottom: 50.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	}
} */
.amjabo-video-embed {
	.fluid-width-video-wrapper {
		postion: relative;
	}
}
.amjam-pill-button {
	border-radius: 36px;
	background-color: $amjam-pill-bkg;
	//margin-bottom: 10px;
	color: white;
	border: 1px solid grey;
	padding: 12px 24px;
}
.amjam-pill-button:hover {
	background-color: white;
	color:  $amjam-pill-bkg;
}
.amjam-pill-button:visited {
	color: white;
	background-color: $amjam-pill-bkg;
}
.amjam-hide-extra-head-space {
	.main-post article .header {
		margin: 0px;
	}
}

.amjam-pill-search { // widget class
	.search-form {
		background-color: white;
    border-radius: 36px;
    border: 1px solid #c1c1c1;
		margin-top: 6px;
		.search-field {
			color: #929292;
			font-size: .9em;
			margin-left: 10px;
			//margin-right: 24px;
			width: 160px;
			background-color: transparent;
		} // field
		.search-submit {
			display: none;
		} // submit
	} // form
}
