/* basic css stuff */
.et_pb_module.reach-branding {
  a:before {
    content: url('images/reach-favicon.png');
    padding-right: 4px;
  }
}

body {   
	font-family: 'myriad-pro',sans-serif;
}
// also need to add to extra -> theme options -> custom css (so we dont need the "important" flag here.)
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'minion-pro-condensed', Georgia, "Times New Roman", serif;
}

.amjambo-myriad { // class to use myriad - typically for h-tags (used in footer)
	h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		font-family: 'myriad-pro',sans-serif;
	}
	
}


.amjabo-video-embed {
	.fluid-width-video-wrapper {
		postion: relative;
	}
}
.amjam-pill-button {
	border-radius: 36px;
	background-color: $amjam-pill-bkg;
	//margin-bottom: 10px;
	color: white;
	border: 1px solid grey;
	padding: 12px 24px;
}
.amjam-pill-button:hover {
	background-color: white;
	color:  $amjam-pill-bkg;
}
.amjam-pill-button:visited {
	color: white;
	background-color: $amjam-pill-bkg;
}
.amjam-hide-extra-head-space {
	.main-post article .header {
		margin: 0px;
	}
}
// widgets classes ...
.amjam-pill-search { // widget class

	.search-form {
		background-color: white;
   		border-radius: 36px;
    	border: 1px solid #c1c1c1;
		//margin-top: 6px;
		.search-field {
			color: #929292;
			font-size: .9em;
			margin-left: 10px;
			//margin-right: 24px;
			width: 160px;
			background-color: transparent;
			height: 46px;
			padding-top: 0px;
			padding-bottom: 0px;
		} // field
		.search-submit {
			display: none;
		} // submit
	} // form
}

// needed for menu in non-stuck position to NOT flow under the content
header.et-l.et-l--header { // from:  https://www.peeayecreative.com/how-to-fix-the-hidden-divi-menu/
    z-index: 99999;
    position: relative;
}
.amjam-sticky-top {
	position: sticky;
	top: 64px; // height of sticky menu
	z-index: 3; // jic
} 
.et_pb_widget.widget_et_recent_entries.amjam-recents-img3 {
	ul.widget_list {
		li {
			.widget_list_thumbnail {
				width: 33%;
				min-width:33%;
				background-color: white;
				height: auto;
			}
		}
	}
}

// et-buttons
.et_pb_module.et_pb_posts article,
.et_pb_module.et_pb_post_content,
.et_pb_module.et_pb_text,
.et_pb_module.et_pb_blurb .et_pb_blurb_description,
.et_pb_module.et_pb_toggle .et_pb_toggle_content,
.et_pb_module.et_pb_tabs .et_pb_tab_content,
.et_pb_post,
.tribe-events-content {
	a.small-button {
		font-size: 14px;
	}
  a.small-button,
  a.big-button {
    color: $button-color!important;
	border-width: 0px;
    border-radius: 0px;
    border: 1px solid $button-border;
	text-shadow: none;
	box-shadow: none;
  }
  a.smallred,
  a.bigred {
    background-color: $button-bkg!important;
    background: $button-bkg!important;
  }
  a.smallred:hover,
  a.bigred:hover {
    color: $button-hover-color!important;
    background-color: $button-hover-bkg!important;
    background: $button-hover-bkg!important;
	border-color: $button-hover-bkg;
  }
}

