/* basic css stuff */
/* .reach-responsive-video {
	position: relative;
	padding-bottom: 50.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	}
} */

.amjam-pill-button {
	border-radius: 36px;
	background-color: #a7a7a7;
	margin-bottom: 10px;
	color: white;
	border: 1px solid grey;
	padding: 12px 24px;
}
