// classes for the blog feed modules on the category pages.

// generical styling for blog modules (blog fee & post module)
.posts-blog-feed-module, 
.post-module {
    -webkit-box-shadow: none; // ditch the box shadow
    box-shadow: none;
}

.posts-blog-feed-module {
    article.hentry {
        border-bottom: 0px;  // ditch the borders between articles.
       
    }
}

.et_pb_extra_module.post-module {
    .main-post {
        border-right: 0px!important;
    }
    ul.posts-list {
        li {
            border-bottom: 0px;
            padding: 20px 0px 0px 0px;
        }
    }
}


.post-module.amjam-hide-summary {
    article.hentry {
        .post-content {
            .excerpt.entry-summary {
                display: none!important;
            }
        }

    }
}





.post-module.et_pb_extra_module.amjam-posts-featured {

    .main-post {
       padding-left: 0px!important;
    }
    ul.posts-list{
        //width: 35%!important;
        li {
            article {
                .post-thumbnail {
                     // make image bigger on side list...
                    width: 120px;
                    height: 120px;
                }
                .post-content {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }
        }
    } 

}
@media only screen and ( min-width: 980px ) { // bigger than tablet
    .post-module.et_pb_extra_module.amjam-posts-featured {
         // use 2/3 1/3 insteat of 50/50
        .main-post {
            width: 65%!important;
        }
        ul.posts-list {
            width: 35%!important;
        }
    }
}
@media only screen and ( max-width: 979px ) { // tablet and smaller
    .post-module.et_pb_extra_module.amjam-posts-featured {
         // go full width at smaller screens
        .main-post {
            width: 100%!important;
            padding-left: 0px!important;
            //padding-right: 0px;
        }
         ul.posts-list{
            width: 100%!important;
         }
    }
}

// laptop
@media only screen and ( min-width: 768px ) { // bigger than tablet
    .posts-blog-feed-module.amjam-feed-1across,
    .posts-blog-feed-module.amjam-feed-2across,
    .posts-blog-feed-module.amjam-feed-3across  {
        .paginated_page  {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            
            article.hentry {
                flex-direction: column;
                padding: 0px;
                //flex: 1 1 30%;
                padding-bottom: 15px;

                .header {
                    width: 100%!important;
                    padding-right: 0px;

                }
                .post-content {
                    width: 100%!important;
                    padding-left: 0px;
                    .post-title {
                        padding-top: .5em;
                        padding-bottom: 0px;
                        a {
                            line-height: 1.2em;
                         }
                    }
                }

            }

        }

    }
    .posts-blog-feed-module.amjam-feed-1across  {
        .paginated_page  {           
            article.hentry {
                  flex: 1 1 100%;
            }
        }
    }
    .posts-blog-feed-module.amjam-feed-2across  {
        .paginated_page  {           
            article.hentry {
                  flex: 1 1 48%;
            }
            article.hentry:not(:nth-child(2n)) { // not every 2nd child
                padding-right: 20px;
            }

        }
    }
    .posts-blog-feed-module.amjam-feed-3across  {
        .paginated_page  {           
            article.hentry {
                  flex: 1 1 30%;
            }
            article.hentry:not(:nth-child(3n)) { // not every third child
                padding-right: 20px;
            }
        }
    }
}
@media only screen and ( max-width: 767px ) { // tablet + smaller

    .posts-blog-feed-module.amjam-feed-1across, 
    .posts-blog-feed-module.amjam-feed-3across  { // single across
        .paginated_page  {

            article.hentry {
                padding: 10px 0px;
                .header {
            
                }
                .post-content {
            
                }
            }
         
        }

    }
}