/* styling for content based colors... */

// menu Colors

#main-header {
  #et-navigation {
    #et-menu{
        // colors per category
      >li.amjam-cat-news>a:before { // news
        background-color: $amjam-news-color;
      }
      >li.amjam-cat-news>a:hover,
      >li.amjam-cat-news.current-menu-item a {
        color: $amjam-news-color;
      }
      li.amjam-cat-news {
        .sub-menu {
          border-color: $amjam-news-color;
        }
      }

      >li.amjam-cat-opine>a:hover,
      >li.amjam-cat-opine.current-menu-item a { // opinion
        color: $amjam-opinion-color;
      }
      >li.amjam-cat-opine>a:before {
        background-color: $amjam-opinion-color;
      }
      li.amjam-cat-opine {
        .sub-menu {
          border-color: $amjam-opinion-color;
        }
      }

      >li.amjam-cat-culture>a:hover,
      >li.amjam-cat-culture.current-menu-item a  { // culture
        color: $amjam-culture-color;
      }
      >li.amjam-cat-culture>a:before {
        background-color: $amjam-culture-color;
      }
      li.amjam-cat-culture {
        .sub-menu {
          border-color: $amjam-culture-color;
        }
      }

      >li.amjam-cat-africa>a:hover,
      >li.amjam-cat-africa.current-menu-item a   { // about africa
        color: $amjam-africa-color;
      }
      >li.amjam-cat-africa>a:before {
        background-color: $amjam-africa-color;
      }

      >li.amjam-cat-calendar>a:hover,
      >li.amjam-cat-calendar.current-menu-item a  { // calendar
        color: $amjam-calendar-color;
      }
      >li.amjam-cat-calendar>a:before {
        background-color: $amjam-calendar-color;
      }

      >li.amjam-cat-listings>a:hover,
      >li.amjam-cat-listings.current-menu-item a { // listings
        color: $amjam-listings-color;
      }
      >li.amjam-cat-listings>a:before {
        background-color: $amjam-listings-color;
      }
      li.amjam-cat-listings {
        .sub-menu {
          border-color: $amjam-listings-color
        }
      }
    }
  }
  #et-mobile-navigation {
  }
}

// single articles
.single-post {
  #main-content {
    article {
      border-top: 4px solid $amjam-submenu-bkg;
    }
    // news and child categories
    article.category-news,
    article.category-nouvelles,
    article.category-makuru,
    article.category-habari {
      border-top-color: $amjam-news-color;
    }
    // culture and children
    article.category-culture,
    article.category-culture-fr,
    article.category-umuco,
    article.category-utamaduni,
    article.category-comparaison-culturelle,
    article.arts,
    article.arts-musique,
    article.amashusho-nmuzika,
    article.farshaxanka
     {
      border-top-color:  $amjam-culture-color;
    }
    // opinion
    article.category-opinion,
    article.caegory-opinion-fr,
    article.category-ibitekerozo-byabantu,
    article.category-maoni-na-mafikiri {
      border-top-color:  $amjam-opinion-color;
    }
    // about africa
    article.category-about-africa,
    article.category-country-focus,
    article.categor-a-propos-de-lafrique,
    article.amakuru-yafrika,
    article.kuhusu-afrika   {
      border-top-color: $amjam-africa-color;
    }
    // listings & Services
    article.listings-services,
    article.listes-des-services,
    article.urutonde-na-serivisi,
    article.liiska-adeegyada,
    article.huduma-za-orodha
       {
      border-top-color: $amjam-listings-color;
    }
  }
}
.single-tribe_events {
    #main-content {
      article {
        border-top: 4px solid  $amjam-calendar-color;
      }
    }
}
