/* styling for content based colors... */

// menu Colors

#main-header {
  #et-navigation {
    #et-menu{
        // colors per category
      >li.amjam-cat-news>a:before { // news
        background-color: $amjam-news-color;
      }
      >li.amjam-cat-news>a:hover,
      >li.amjam-cat-news.current-menu-item a {
        color: $amjam-news-color;
      }
      li.amjam-cat-news {
        .sub-menu {
          border-color: $amjam-news-color;
        }
      }

      >li.amjam-cat-opine>a:hover,
      >li.amjam-cat-opine.current-menu-item a { // opinion
        color: $amjam-opinion-color;
      }
      >li.amjam-cat-opine>a:before {
        background-color: $amjam-opinion-color;
      }
      li.amjam-cat-opine {
        .sub-menu {
          border-color: $amjam-opinion-color;
        }
      }

      >li.amjam-cat-culture>a:hover,
      >li.amjam-cat-culture.current-menu-item a  { // culture
        color: $amjam-culture-color;
      }
      >li.amjam-cat-culture>a:before {
        background-color: $amjam-culture-color;
      }
      li.amjam-cat-culture {
        .sub-menu {
          border-color: $amjam-culture-color;
        }
      }

      >li.amjam-cat-africa>a:hover,
      >li.amjam-cat-africa.current-menu-item a   { // about africa
        color: $amjam-africa-color;
      }
      >li.amjam-cat-africa>a:before {
        background-color: $amjam-africa-color;
      }
      li.amjam-cat-africa {
        .sub-menu {
          border-color: $amjam-africa-color;
        }
      }

      >li.amjam-cat-calendar>a:hover,
      >li.amjam-cat-calendar.current-menu-item a  { // calendar
        color: $amjam-calendar-color;
      }
      >li.amjam-cat-calendar>a:before {
        background-color: $amjam-calendar-color;
      }

      >li.amjam-cat-listings>a:hover,
      >li.amjam-cat-listings.current-menu-item a { // listings
        color: $amjam-listings-color;
      }
      >li.amjam-cat-listings>a:before {
        background-color: $amjam-listings-color;
      }
      li.amjam-cat-listings {
        .sub-menu {
          border-color: $amjam-listings-color
        }
      }
    }
  }
  #et-mobile-navigation {
  }
}

// single articles
.single-post {
  #main-content {
    article {
      border-top: 4px solid $amjam-submenu-bkg;
    }
    // news and child categories
    article.category-news,
    article.category-nouvelles,
    article.category-makuru,
    article.category-habari,
    article.category-news-in-brief {
      border-top-color: $amjam-news-color;
    }
    // culture and children
    article.category-culture,
    article.category-culture-fr,
    article.category-umuco,
    article.category-utamaduni,
    article.category-comparaison-culturelle,
    article.category-arts,
    article.category-arts-musique,
    article.category-amashusho-nmuzika,
    article.category-farshaxanka
     {
      border-top-color:  $amjam-culture-color;
    }
    // opinion
    article.category-opinion,
    article.caegory-opinion-fr,
    article.category-ibitekerozo-byabantu,
    article.category-maoni-na-mafikiri {
      border-top-color:  $amjam-opinion-color;
    }
    // about africa
    article.category-about-africa,
    article.category-country-focus,
    article.categor-a-propos-de-lafrique,
    article.category-amakuru-yafrika,
    article.category-kuhusu-afrika   {
      border-top-color: $amjam-africa-color;
    }
    // listings & Services
    article.category-listings-services,
    article.category-listes-des-services,
    article.category-urutonde-na-serivisi,
    article.category-liiska-adeegyada,
    article.category-huduma-za-orodha
       {
      border-top-color: $amjam-listings-color;
    }
  }
}
// category archives -> got to be a better way....
.archive.category-news, // ENG
.archive.category-news-in-brief,
.archive.category-united-states,
.archive.category-africa,
.archive.category-maine,
.archive.category-legislative-update,
.archive.category-nouvelles, // FR
.archive.category-nouvelles-en-breves,
.archive.category-a-partir-du-sol,
.archive.category-maine-fr,
.archive.category-afrique,
.archive.category-mises-a-jour-legislatives,
.archive.category-makuru,// kir
.archive.category-incamake-yamakuru,
.archive.category-wararka,// somali
.archive.category-war-saxaafadeed,
.archive.category-habari, // swa
.archive.category-habari-kwa-kifupi
 {
  .posts-blog-feed-module {
    border-top-color: $amjam-news-color;
  }
}
// opinion archives
.archive.category-opinion, // ENG
.archive.category-opinion-fr, // FR
.archive.category-ibitekerozo-byabantu,// kir
.archive.category-fikradaha,// somali
.archive.category-maoni-na-mafikiri // swa
{
 .posts-blog-feed-module {
   border-top-color: $amjam-opinion-color;
 }
}
// culture archives
.archive.category-culture, // ENG
.archive.category-culture-fr, // FR
.archive.category-umuco,// kir
.archive.category-dhaqanka,// somali
.archive.category-utamaduni // swa
{
 .posts-blog-feed-module {
   border-top-color: $amjam-culture-color;
 }
}
// africa archives
.archive.category-about-africa, // ENG
.archive.category-a-propos-de-lafrique, // FR
//.archive.category-,// kir
//.archive.category-,// somali
.archive.category-kuhusu-afrika // swa
{
 .posts-blog-feed-module {
   border-top-color: $amjam-africa-color;
 }
}
// "More" archive_list_style
.archive.category-listings-services,
.archive.category-food-pantries {
   .posts-blog-feed-module {
     border-top-color: $amjam-listings-color;
   }
}


.single-tribe_events {
    #main-content {
      article {
        border-top: 4px solid  $amjam-calendar-color;
      }
    }
}
