/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:

// category Colors
$amjam-news-color: #ed1a3b; // tomato red
$amjam-opinion-color: #40b554; // green
$amjam-culture-color: #6c4ea2; // purple
$amjam-africa-color: #f47b20; // orange
$amjam-calendar-color: #ec487a;  // pinkis.
$amjam-listings-color:  #0066cc; // royal blue

// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
/* ----------- end Colors ----------- */
