/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
$amjam-pill-bkg:  #052962;
$amjam-submenu-bkg: #e8ce75; // tan/ecru
$amjam-tan: #e8ce75;
$facebook-blue: #39579a;
$bluesky-blue:#1185fe ;
$whatsapp-green: #25d366;

// Background colors:

// category Colors
$amjam-news-color:  #0139a0; //#052962;// old #ed1a3b; // tomato red
$amjam-opinion-color: #3d7515;// now, forest green -- #7c9a23; // moss green #40b554; // green
$amjam-culture-color: #f47b20; // orange
$amjam-africa-color: #6c4ea2; // purple
$amjam-calendar-color: #0066cc; // royal blue
$amjam-listings-color:  #ec487a;  // pinkis.
$amjam-banner-color: #b7152c;

$amjam-current-lang: #b7152c;



// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
/* ----------- end Colors ----------- */
