/* styling for events & events shortcode */
ul.ecs-event-list {
  list-style-type: none;
  padding-right: 15px;
  li.ecs-event {
    .entry-title {
        a {
            font-size: 18px;

        }
        a:visited {
          color: #000;
        }
    }
  }
  li.ecs-event:not(:last-child) .entry-title {
    border-bottom: 3px solid $amjam-calendar-color;
  }
} // end list shortcode

// both single & archive for events
.post-type-archive-tribe_events,
.single-tribe_events {
  h1.entry-title {
    padding-bottom: 0px;
  }
}

// events archive
.tribe-events-list .tribe-events-loop { // listview
  // month titles
  .tribe-events-list-separator-month {

  }
  .tribe-events-list-separator-month:after {
    border-color: $amjam-calendar-color;
  }
  // the events, both featured and not.
  .type-tribe_events,
  .type-tribe_events.tribe-event-featured {
      border: 1px solid $amjam-calendar-color;
      background-color: white!important;
      padding: 1em 1.5rem 1rem 1.5em;
      .tribe-events-list-event-title {
        a {
          color: $amjam-calendar-color!important;
        }
      }
  }
  // the featured events
  .type-tribe_events.tribe-event-featured {
    //border: 1px solid $amjam-calendar-color;
    .tribe-events-list-event-title:before {
      content: "*";
      content: "\f005";
      font-family: "Font Awesome 5 Free";
      color: $amjam-calendar-color;
      //padding-right: 10px;
    }
    .tribe-events-list-event-title {
      margin-top: 0px;
      a {
        //color: $amjam-calendar-color!important;
      }
    }
  }
}
// calendar view
.tribe-events-month {
  .tribe-events-month-event-title a { // color of non-featured events links
    color: #000;
  }
}
// background-color of featured events on month calendar
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
  background-color: #cde6ff;
}
.post-content {
  .tribe-events-nav-pagination {
    a {
      color: $amjam-calendar-color;
    }
  }
}
