/* styling for gravity forms */

.gform_wrapper.amjam-white-fields_wrapper {
  .gform_body {
    width: 100%!important; // over-ride gform styling media query
    .gfield input {
      background-color: white;
    }
  }
  .gform_footer {
    top: 4px;
    input {
      background-color: white;
    }
  }
}
