/* **** media **** */
/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

/*-------------------[768px]------------------*/
@media only screen and ( min-width: 768px ) { // bigger than tablet
  #main-header {
    .logo {
      margin-bottom: 0px!important;
      margin-top: 30px!important;
    }
    #main-header {
      #header-banner {
        .tagline-img { // show lion
          display: inline-block;
        }
      }
    }
  }
  body.single-post {
    article {
      .post-header {
        .entry-title {
          font-size: 32px; // bump up the font
        }
      }
    }
  }
}


@media only screen and ( max-width: 767px ) { // tablet and smaller
  .centered .logo {
    //height: auto;
    margin-bottom: 10px;
  }
  #main-header {
    #header-banner {
        .tagline-img { // hide lion
        display: none;
      }
      .tagline { // make tagline full width
        width: 100%;
      }
    }
  }
}
@media only screen and ( max-width: 1024px ) and (min-width: 720px){
  .amjambo-video-embed {
    .fluid-width-video-wrapper {
      padding: 33%!important;
    }
  }
}
