/* **** media **** */
/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .post-module.et_pb_extra_module.amjam-one-post-list { // post lists with only one post - sizing at tablet & smaller
    .main-post {
      width: 100%!important;
      border-right: 0px;
      //padding-top: 0px;
    }
  }

}
@media only screen and (max-width: 980px) {
  // reverse column order on mobile & tablet
  .reverse-specialsec .et_pb_row,
  .reverse {
      display: flex;
      flex-direction: column-reverse!important;
  }

}
/*-------------------[768px]------------------*/
@media only screen and ( min-width: 768px ) { // bigger than tablet
  .hide-desktop {
    display: none!important;
  }
  #main-header {
    .logo {
      margin-bottom: 0px!important;
      margin-top: 30px!important;
    }
    #main-header {
      #header-banner {
        .tagline-img { // show lion
          display: inline-block;
        }
      }
    }
  }
  body.single-post {
    article {
      .post-header {
        .entry-title {
          font-size: 32px; // bump up the font
        }
      }
      .post-wrap {
        .wp-caption.alignleft,
        .wp-caption.alignright {
            max-width: 60%;
        }
      }
    }
  }
}


@media only screen and ( max-width: 767px ) { // tablet and smaller

.hide-mobile {
  display: none!important;
}
  .centered .logo {
    //height: auto;
    margin-bottom: 10px;
  }
  #main-header {
    #header-banner {
        .tagline-img { // hide lion
        display: none;
      }
      .tagline { // make tagline full width
        width: 100%;
      }
    }
  }
}
@media only screen and ( max-width: 1024px ) and (min-width: 720px){
  .amjambo-video-embed {
    .fluid-width-video-wrapper {
      padding: 33%!important;
    }
  }
}
@media only screen and (max-width: 425px) {
  #main-header-wrapper {
    .container  {
      width: 95%;
      .widget {
        font-size: .75em;
        margin-right: 2px!important;
      }
      .amjam-pill-button {
        .button.amjambo-pill-button {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .amjam-pill-search {
        .search-field {
          margin-left:  4px;
          width: 140px;
          height: 41px;
        }
      }
    }
  }
}
