/* *********** styling for wpml *********** */

//All language Switchers
.wpml-ls {
  width: 100%;
  ul {
    li.wpml-ls-item {
      text-align: center;
      a {
        padding: 10px 20px;
      }
      a:visited {
        color: inherit;
      }
      a:hover {
        color: white;
      }
    }
  }
}

//language Switcher shortcode
.wpml-ls-statics-shortcode_actions.wpml-ls {
  ul {
    li {
      margin-bottom: 10px;
      a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'myriad-pro','Open Sans', sans-serif;
        //font-family: 'Vollkorn',Georgia,"Times New Roman",serif;
        font-weight: bold;
        font-size: 23px;
      }
    }
  }
}
// Language switcher on homepage - when in tow columns
.amjam-wpml-wide .wpml-ls {
  ul {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      width: 50%;
      a {
        font-size: 17px;
        padding-left: 2px;
        padding-right: 2px;
      }
      a:nth-child(odd) {
        margin-left: 3px;
      }
    }

  }
}

// spread languate switcher across the row...
.amjam-wpml-across .wpml-ls {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-left: 2px;
        margin-right: 2px;
        a {
          font-size: 17px;
        }
      }
    }
}
// language switcher in footer (horizontal)
.wpml-ls-statics-footer.wpml-ls.wpml-ls-legacy-list-horizontal { // div
  padding-top: 20px;
  margin-bottom: 0px;
  ul {
    li.wpml-ls-item  {
        margin-bottom: 10px;
        margin-right: 10px;
    }
  } // ul
}
