/* *********** styling for wpml *********** */

//All language Switchers
.wpml-ls {
  ul {
    li.wpml-ls-item  { // default for buttons
      border: 3px solid grey;
      padding: 10px 20px;
      background-color: white;
      text-align: center;
    }
    li.wpml-ls-item.wpml-ls-current-language { // current language
      background-color: $amjam-current-lang;
      border-color: #353535; // very dark grey
      a {
        background-color: $amjam-current-lang;
        color: white;
        font-weight: bold;
      }
    }
  }
}
//language Switcher widget on home page & sidebar, i.e. vertical ones
.wpml-ls.wpml-ls-legacy-list-vertical { // div
  margin: auto;
  ul {
    padding-bottom: 0px;
    padding-top: 20px;
    li.wpml-ls-item  {
        margin-bottom: 20px!important;

    }
  } // ul
} // wpml div around widget
// widget on sidebar
.wpml-ls-sidebars-sidebar-main.wpml-ls.wpml-ls-legacy-list-vertical {

}
// language switcher in footer (horizontal)
.wpml-ls-statics-footer.wpml-ls.wpml-ls-legacy-list-horizontal { // div
  padding-top: 20px;
  margin-bottom: 0px;
  ul {
    li.wpml-ls-item  {
        margin-bottom: 10px;
        margin-right: 10px;
    }
  } // ul
}
