/*
 Theme Name:     Amjambo Africa
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Extra Child Theme for Stone Park Properties
 Template:       Extra
 Version:        1.0.0
*/


/* =Theme customization starts here
------------------------------------------------------- */
@import "partials/colors";
@import "partials/basic";
//@import "partials/category_colors"; no longer want colors per category
@import "partials/wpml";
@import "partials/events";
@import "partials/gforms";
@import "partials/post";
@import "partials/rmm_menu";
@import "partials/blogfeed";
@import "partials/adRotate";
// no long using give plug @import "partials/give";


/**** header stuff... ***/
#top-header {
  // .container {
    background-image: url(./images/tag-line.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    padding: 15px 0;
//  }
}
// set header background-image
#main-header {
    background-image: url(./images/header-bkg-slice.jpg);
    background-position: top center;
    background-size: contain;
    #header-widget-wrap { // place for donate today button
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      .widget {
        float: right;
      }
      .widget:not(:first-child) {
        margin-right: 20px; // make bigger

      }
    }
    #header-banner {
      background-color: $amjam-banner-color;
      //padding: 5px 0;
      //height: 70px;
      .tagline-img {
        width: 20%;
        margin-top: -40px;

      }
      .tagline {
        width: 78%;
        display: inline-block;
        padding-top: 10px;
      }

    }
    .amjam-menu-wrapper {
      background-color: white;
    }
  #et-navigation {
    background-color: white;
    width: 100%;
    ul#et-menu {// ul
      //margin : auto;
      width: 100%;
      justify-content: space-between;
      >li>a:before {
          top: 38px;
      }
      >li>a {
        padding-top:24px;
        padding-bottom: 30px;
      }
      // arrow indicating flyout menu
      li.menu-item-has-children>a:hover:after,
      li.menu-item-has-children>a:after {
        color: black;
        font-weight: bold;
      }
      ul.sub-menu {
        background-color: $amjam-submenu-bkg;
        li.menu-item {
           padding: 0 20px;
           a {
             font-size: 18px;
             color: rgba(0,0,0,0.8);
             padding: 5px 0;
           }
         }


      } // sub-menu


    }
    #et-mobile-navigation {
      .show-menu-button {
        margin-left: 18px;
      }
    }
    // search form in menu
    .search-form {
      .screen-reader-text, .search-submit {
        display: none;
      }
      .search-field {
        width: 200px;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  } // et-navigation
}
// homepage
.post-module.et_pb_extra_module.amjam-one-post-list { // see media styling for more
  .posts-list {  // this is empty so no need to have width
    width: 0px;
    display: none;
  }
}
/* content */
// single post
body.single-post {
  article {
    .post-header {
      padding: 30px 20px; // was 60px.
      .entry-title {
        //font-size: 32px;
      }
    }
    .gallery {
      .gallery-item {
        img {
          width: 100%;
        }
      }
    }
  } // article
}
// single page
body.page,
body.page.et_pb_pagebuilder_layout {
  article {
    h1.entry-title {
      font-size: 42px;
      padding-bottom: 20px!important;
    }

  }
}
// non-divi pages
.page .post-wrap {
  padding-top: 0px;  // remove padding for non-divi built pages, ex: calendar
}
// archive pages....
body.archive {
  .amjam-archive-description {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  article {
    .header.amjam-no-thumb {
      display: none;
      width: 0px;
    }
  }
}
.posts-blog-feed-module.standard .hentry .header.amjam-no-thumb {
    width: 0px;
    background-color: yellow;
}

// sidebar {
.et_pb_widget .widgettitle {
  background-color: black;
}
.et_pb_widget.amjam-no-widget-title { // dont show  widget title
  .widgettitle {
    display: none;
    padding: 0px;
  }
}
.et_pb_widget.amjam-ad-widget {
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  .textwidget {
    padding: 0px;
  }
  img {
      //float: left;
      //width: 100%;
  }
} // end ad

/* *** keep this at the end *** */
@import "partials/media";
